<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ajgon.html-entity-lookup</string>
	<key>connections</key>
	<dict>
		<key>BA61D2A7-CDC5-4DF6-A597-28B586FD82C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67B5320E-570E-4F58-89DD-A0871338A29F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CD3C162D-3B96-4E16-A55A-43CB9FC86CC9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to clipboard</string>
			</dict>
		</array>
		<key>FE056F58-F81C-4FE2-9A7B-F9C09AF16AAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>117AF8DB-2760-487B-B384-B912296A4C47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Igor Rzegocki</string>
	<key>description</key>
	<string>Alfred workflow for an excellent tool written by Remy Sharp</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>HTML Entity Lookup</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>el</string>
				<key>runningsubtext</key>
				<string>Fetching data...</string>
				<key>script</key>
				<string>from entities import Entities

en = Entities("{query}")
print en.results()</string>
				<key>subtext</key>
				<string>Displays entities looking similar to provided keyword</string>
				<key>title</key>
				<string>HTML Entity Lookup</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FE056F58-F81C-4FE2-9A7B-F9C09AF16AAA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "entity {query}"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>117AF8DB-2760-487B-B384-B912296A4C47</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>67B5320E-570E-4F58-89DD-A0871338A29F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>entity</string>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>from entities import Entities

print Entities.details("{query}")</string>
				<key>subtext</key>
				<string>Displays details ov given entity</string>
				<key>title</key>
				<string>HTML Entity Lookup</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BA61D2A7-CDC5-4DF6-A597-28B586FD82C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CD3C162D-3B96-4E16-A55A-43CB9FC86CC9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>117AF8DB-2760-487B-B384-B912296A4C47</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>67B5320E-570E-4F58-89DD-A0871338A29F</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>BA61D2A7-CDC5-4DF6-A597-28B586FD82C4</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CD3C162D-3B96-4E16-A55A-43CB9FC86CC9</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>FE056F58-F81C-4FE2-9A7B-F9C09AF16AAA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ajgon/alfred2-html-entity-lookup</string>
</dict>
</plist>
